@media screen and (max-width: 500px) {


    body {background-color:rgba(83, 144, 236, 0.973)
    }
    }
    .p1 {font-size: 200%;
    text-align: center;
    background-color: brown;
    border-color: azure;
    border-width: 6px;
    border-style: double;
    margin-left: 13%;
    margin-right: 50%;
    padding-left: 1%;
    padding-top: 3%;
    color: aliceblue;
    
    }
    
    .p2 {font-size: 200%;
         text-align: center;
        background-color: rgb(241, 42, 42);
        border-color: azure;
        border-width: 6px;
        border-style: double;
        margin-left: 60%;
        margin-right: 22%;
        padding-left: 1%;
        padding-top: 2%;
        color: aliceblue;
        }
    
        .p3 {font-size: 180%;
    text-align: center;
    background-color: rgb(233, 58, 14);
    border-color: azure;
    border-width: 6px;
    border-style: double;
    margin-left: 22%;
    margin-right: 60%;
    padding-left: 3%;
    padding-top: 2%;
    color: aliceblue;
            }
    
     .p4 {font-size: 200%;
     text-align: center;
     background-color: rgb(240, 185, 33);
    border-color: azure;
    border-width: 6px;
    border-style: double;
    margin-left: 61%;
    margin-right: 24%;
    padding-left: 1%;
    padding-top: 2%;
    color: aliceblue;
     }
    
     
     .p5 {font-size: 200%;
        text-align: center;
        background-color: rgb(24, 185, 33);
       border-color: azure;
       border-width: 6px;
       border-style: double;
       margin-left: 25%;
       margin-right: 54%;
       padding-left: 5%;
       padding-top: 1%;
       color: aliceblue;
        }
       
        .p6 {font-size: 200%;
            text-align: center;
            background-color: rgb(92, 72, 204);
           border-color: azure;
           border-width: 6px;
           border-style: double;
           margin-left: 50%;
           margin-right: 25%;
           padding-left: 5%;
           padding-top: 1%;
           color: aliceblue;
            }
    
     .p7  {font-size: 200%;
      text-align: center;
      background-color: rgb(243, 56, 134);
      border-color: azure;
      border-width: 6px;
      border-style: double;
      margin-left: 30%;
      margin-right: 57%;
      padding-left: 5%;
       padding-top: 1%;
       color: aliceblue;
                }
    
     .p8 {font-size: 200%;
    text-align: center;
     background-color: rgb(92, 72, 204);
     border-color: azure;
     border-width: 6px;
     border-style: double;
     margin-left: 55%;
     margin-right: 22%;
      padding-left: 5%;
      padding-top: 1%;
      color: aliceblue;
         }
    
         .p9  {font-size: 200%;
      text-align: center;
      background-color: rgb(25, 0, 117);
     border-color: azure;
      border-width: 6px;
      border-style: double;
      margin-left: 25%;
     margin-right: 50%;
      padding-left: 5%;
       padding-top: 1%;
       color: aliceblue;
         }
    
         .p10 {font-size: 200%;
            text-align: center;
             background-color: rgb(109, 89, 0);
             border-color: azure;
             border-width: 6px;
             border-style: double;
             margin-left: 60%;
             margin-right: 22%;
              padding-left: 5%;
              padding-top: 1%;
           color: aliceblue;
            }
    