body{background-color: rgb(202, 36, 36);}

.p1 {font-size: 200%;
  text-align: center;  
  background-color: blue;
  border-color: azure;
  border-width: 6px;
border-style:double;
margin-left:20%;
margin-right:15%;
padding: left 10%;
padding: top 20px;
}




 
 



